/*CSS HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}
.img {
    width: 150px;
}
.input {
    border-radius: 15px;
}
/*CSS FEED*/
.feed {
    background-color: blueviolet;
}
